:host {
  display: inline-block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

table{
  border-spacing:0;
  width: 508px;
  thead{
    background-image: linear-gradient(180deg, #00EFD1 0%, #00ACEA 100%);
    padding: 0;
    color: #ffffff;
    #subaccount{
      width: 110px;
      text-align: left;
    }
    #rfc{
      width: 145px;

    }
    #status{
      width:119px;
    }
    #action{
      width: 145px;
    }
  }
  tr:nth-child(even){
    background-color: #DFDFDF;
  }
  tbody{
    tr{
      td:nth-child(1){
        text-align: left;
      }

    }
  }
}
